.search-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 8px 15px;
    margin: 20px 0 10px 0;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.search-container i {
    font-size: 14px;
    opacity: 0.5;
    margin-right: 10px;
}

#search-input {
    background: none;
    border: none;
    color: white;
    width: 100%;
    outline: none;
    font-size: 14px;
}

#search-input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}